DATABASE_URL = postgresql://username:password@localhost/dev_database

TEST_DATABASE_URL = postgresql://username:password@localhost/test_database

JWT_SECRET_KEY = your_jwt_secret_key
JWT_ALGORITHM = algorithm_of_choice
JWT_EXPIRATION_DAYS = token_expiration_time